<a href="https://colab.research.google.com/github/MohamedAbdulHameed96/Chill_ML_prgms/blob/sub/binary_encoder.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from category_encoders import BinaryEncoder

In [ ]:
data = {
    'Device' : ['laptop','tv','smartphone','microwave','tablet'],
    'Portable' : ['yes','no','yes','no','yes']
}

In [ ]:
df = pd.DataFrame(data)

In [ ]:
encoder = BinaryEncoder(cols=['Portable'])

In [ ]:
df_encoded = encoder.fit_transform(df)

In [ ]:
df_encoded

       Device  Portable_0  Portable_1
0      laptop           0           1
1          tv           1           0
2  smartphone           0           1
3   microwave           1           0
4      tablet           0           1